<!doctype html>
<html lang="en">

<head>
    <title>Attendance System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <span class="text-center">
        <h2>Attendance Management System</h2>
    </span>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.jpg" alt="" style="width:40px;" class="rounded-pill"> Admin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="admin_createstudent.html">Add Students/Teacher</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="admin_viewstudents.html">View Students</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="admin_view_teachers.html">View Teachers</a>
                    </li>

                </ul>

                <span class="navbar-text">
                    <a  class="btn btn-danger text-light nav-link " href="#">Logout</a>
                  </span>

            </div>
        </div>
    </nav>
    <!-- navbar done -->


    <!-- registration form -->

    <div class="container">
        <div class="row justify-content-center mt-5 ">
            <div class="col-12 col-md-8  ">
                <div class="selectuser">
                    Select User: <a href="admin_createteacher.html">Teacher</a> | <a href="admin_createstudent.html">Student</a>
                </div>
                <h4 class="text-center"><b>Add Teachers Info</b></h4>
                <div class="customborder">
                    <form action="">

                        <div class="row my-2">
                            <div class="col-md-2 ">
                                <label for=""><b>Name</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-2">
                                <label for=""><b>Department</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>



                        <div class="row my-2">
                            <div class="col-md-2">
                                <label for=""><b>Email</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="row mt-2 mb-4">
                            <div class="col-md-2">
                                <label for=""><b>Course</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>


                        <button type="submit" class="btn btn-info w-100 text-light"><b>Add Teacher</b></button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- end reg -->



    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

</body>

</html>