<!doctype html>
<html lang="en">

<head>
    <title>Attendance System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.jpg" alt="" style="width:40px;" class="rounded-pill"> Pranto
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="student_home.html">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="student_profile.html">Profile</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link " href="student_report.html">Report Section</a>
                    </li>


                </ul>

                <span class="navbar-text">
                    <a  class="btn btn-danger text-light nav-link " href="#">Logout</a>
                  </span>

            </div>
        </div>
    </nav>
    <!-- navbar done -->

    <!-- profile page -->

    <div class="container">
        <div class="row justify-content-center mt-5 ">
            <div class="col-12 col-md-8  ">

                <h4 class="text-center"><b>Reg ID : STU-0000</b></h4>
                <div class="customborder">
                    <form action="">

                        <div class="row my-2">
                            <div class="col-md-2 ">
                                <label for=""><b>Name</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" value="pranto">
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-2">
                                <label for=""><b>Department</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" value="Software Engineering">
                            </div>
                        </div>


                        <div class="row my-2">
                            <div class="col-md-2">
                                <label for=""><b>phone</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" value="01830445326">
                            </div>
                        </div>

                        <div class="row mt-2 mb-4">
                            <div class="col-md-2">
                                <label for=""><b>Email</b></label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control form-control-sm" value="pranto.rahaman38@gmail.com">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info w-100 text-light"><b>save</b></button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- end reg -->



    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>

</body>

</html>